.msgdisplay {
	border: 3px dotted #000;
	background-color: #CCCCFF;
	width: 600px;
	height: 500px;
	overflow: auto;
}

.chatwindow {
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}
.message {
	margin: 1px;
	background-color: #99CCFF;
}

.msgform {
	width: 600px;
	background-color: #CCFFFF;
	border: 2px solid purple;
}

